* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
}
button {
    border: 3px solid black;
    font-size: 30px;
    font-family: Roboto;
    padding: 16px;
}

button:hover {
    background-color: rgb(165, 253, 177);
}

h1 {
    font-size: 60px;
    margin-top: 320px;
    font-family: Anton;
    letter-spacing: 1px;
    margin-bottom: -5px;
    color: rgb(36, 36, 36);
}

nav {
    background-color: black;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

nav #lable2 {
    color: white;
    font-family: Anton;
    font-size: 40px;
    display: inline-block;
    padding-left: 40px;
    position: relative;
    bottom: 35px;
}

#small-square {
    height: 50px;
    width: 30px;
    background-color: white;
    padding-left: 30px;
    margin: 25px 200px 20px 0px;
    float: right;

}